body{
    width: 960px;
    margin: auto;
    background-color: #d2691e;
}
.hasab {
    max-width: 450px;
    width: auto;
}
.bal{
    float: left;
}
.jobb{
    float: right;
}

footer {
    max-width: 960px;
    width: auto;
    margin: 0 auto;
    display: inline-block;
}
h1{
    text-decoration: solid 2px #a52a2a underline
}
h2{

}
ul{
    list-style-type: none;
    text-align: center;
    min-width: 960px;
}
li{
    display: inline-block;
    min-width: 50px;
    padding: 6px;
    color: white;
    border-right: #a52a2a solid 2px;
}
#nope{
    border: none;
}
.kep{
    width: 100px;
    height: 100px;
}
